{% extends 'medicine/medheader.html' %}

{% load static %}
{% block head_2 %}
    <link rel="stylesheet" type="text/css" href="{% static 'medicine/avail.css' %}">
{% endblock %}

{% block body_2 %}
    {% if get_query %}
        {%if med_id != None  %}
            <section id="map">
            </section>    
            <section id="cards">
                <table>
                    <tr>
                        <th>Sl.No.</th>
                        <th>Shop</th>
                        <th>Units</th>
                        <th>Price</th>
                    </tr>
                    {% for shop in shops %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            {% for col in shop %}
                                <td>{{ col }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </section>

            <script type='text/javascript'>
                function GetMap()
                {
                    var map = new Microsoft.Maps.Map('#myMap', {
                        credentials: 'Your Bing Maps Key',
                        center: new Microsoft.Maps.Location(51.50632, -0.12714),
                        mapTypeId: Microsoft.Maps.MapTypeId.aerial,
                        zoom: 10
                    });
            
                    //Add your post map load code here.
                }
            </script>

        {% else %}
            <section id="not_found">
                <h1>Sorry</h1>
                <hr>
                <p>We could not find any matching results in our databases.</p>
            </section>
        {% endif %}
    {% endif %}

{% endblock %}