{% extends 'home/base-header.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'medicine/avail.css' %}">
{% endblock %}

{% block body %}
    <header>
        <div class="bg-image">
            <h1>Search the medicine here</h1>
            <form action="{% url 'medicine:med-info' %}" method="get" autocomplete="off">
                <p><input type="text" name="med-name" id="text-box" placeholder="Search..." onfocus="this.removeAttribute('placeholder')"></p>
                <p><input type="submit" name="" value="Search" id="search-button"></p>
            </form>
        </div>
    </header>

    <div class="container">
        <section id="map">
        </section>    
        <section id="cards">
        </section>
    </div>

{% endblock %}