{% extends 'medicine/med_header.html' %}

{% load static %}
{% block head_2 %}
    <link rel="stylesheet" type="text/css" href="{% static 'medicine/info.css' %}">
{% endblock %}

{% block body_2 %}

    <section id="search-result">
    {% if gen_name %}
        <h1>{{ gen_name }}</h1>
        <hr>
        <h4>General Names</h4>

        <table class="col-lg-10">
            <tr>
                <th class="col1"> Drug Name</th>
                <th class="col2"> Company Name  </th>
            </tr>
            {% for row in common_name %}
                <tr>
                    {% for col in row %}
                        <td class="col{{ forloop.counter }}">{{ col }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    </section>
{% endblock %}