{% extends 'home/base-header.html' %}

{% extends 'medicine/med_header.html' %}

{% load static %}
{% block head_2 %}
    <link rel="stylesheet" type="text/css" href="{% static 'medicine/info.css' %}">
{% endblock %}

{% block body_2 %}

    <section id="search-result">
    {% if gen_name %}
        <h1>{{ gen_name }}</h1>
        <hr>
        <p>The generic name of the drug you have searched is {{ gen_name }}.<br> 
        Other alternative names to this drug<br></p>

        <table>
            <tr>
                <th> Company Name </th>
                <th> Custom Drug Name </th>
            </tr>
            {% for row in common_name %}
                <tr>
                    {% for col in row %}
                        <td>{{ col }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    </section>
{% endblock %}