{% extends 'shop/shop_header.html' %}

{% load static %}

{% block head_2 %}
    <link rel="stylesheet" type="text/css" href="{% static 'shop/dashboard.css' %}">
{% endblock %}

<!-- context = {'shop_id':shop_id , 'shop_loc':shop_loc, 'shop_info':shop_info} -->

{% block body_2 %}
    <section id='info-sec'>
        <h2>Basic Info:</h2>
        <hr>
        <table>
            {% for row in shop_info %}
                <tr>
                    <td>{{row.0|title}}:</td>
                    <td>{{row.1}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>Shop_Address:</td>
                <td>
                    {% for row in shop_loc %}
                        {{row.1}},
                    {% endfor %}
                </td>
            </tr>
        </table>
    </section>
{% endblock %}

