{% extends 'shop/shop_header.html' %}

{% load static %}

{% block head_2 %}
    <link rel="stylesheet" type="text/css" href="{% static 'shop/license.css' %}">
{% endblock %}



{% block body_2 %}
    <section id='license-sec'>
        <h2>License Details:</h2>
        <hr>
        <table>
            <tr>
                <td>Shop License:</td>
                <td>{{ shop_license.license }}</td>
            </tr>
            <tr>
                <td>Drug License:</td>
                <td>{{ shop_license.drug_license }}</td>
            </tr>
        </table>
    </section>
    <section id='ph-sec'>
        <h2>Pharmacist Details:</h2>
        <hr>
        <table>
            <tr>
                <td>Pharmacist Name:</td>
                <td>{{ shop_license.ph_name }}</td>
            </tr>
            <tr>
                <td>Degree</td>
                <td>{{ shop_license.deg }}</td>
            </tr>
            <tr>
                <td>College</td>
                <td>{{ shop_license.college }}</td>
            </tr>
        </table>
    </section>
{% endblock %}