{% extends 'shop/shop_header.html' %}

{% load static %}

{% block head_2 %}
    <link rel="stylesheet" type="text/css" href="{% static 'shop/license.css' %}">
{% endblock %}



{% block body_2 %}
    <section id='license-sec'>
        <h2>License Details:</h2>
        <hr>
        <table>
            {% for row in shop_license|slice:":2" %}
            <tr>
                <td>{{row.0|title}}:</td>
                <td>{{row.1}}</td>
            </tr>
            {% endfor %}
        </table>
    </section>
    <section id='ph-detail'>
        <h2>Pharmacist Details:</h2>
        <hr>
        <table>
            {% for row in shop_license|slice:"3:" %}
            <tr>
                <td>{{row.0|title}}:</td>
                <td>{{row.1}}</td>
            </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}