{% extends 'home/base_header.html' %}

{% load static %}

{% block head_2 %}
    <link rel="stylesheet" type="text/css" href="{% static 'shop/profile.css' %}">
{% endblock %}

{% block body_2 %}
<div class='container' id='main'>
    <section id='info-sec'>
        <h2>Basic Info:</h2>
        <hr>
        <table>
            <tr>
                <td>Shop Name:</td>
                <td>{{ shop_info.shop_name }}</td>
            </tr>
            <tr>
                <td>Owner Name:</td>
                <td>{{ shop_info.owner_name }}</td>
            </tr>
        </table>
    </section>
    <section id='loc-sec'>
        <h2>Contact Info:</h2>
        <hr>
        <table>
            <tr>
                <td>Address:</td>
                <td>Empty Now<br>{{ shop_loc.city }},{{ shop_loc.district }},{{ shop_loc.state }}</td>
            </tr>
            <tr>
                <td>Mob No.</td>
                <td>{{ shop_info.mob_no }}</td>
            </tr>
            <tr>
                <td>Alternate No.</td>
                <td>{{ shop_info.alt_no }}</td>
            </tr>
        </table>
    </section>
</div>
{% endblock %}