{% extends 'home/base-header.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'shop/shop_header.css' %}">

    {% block head_2 %}
    {% endblock %}

{% endblock %}

{% block body %}
    <header class="shop-header">
        <div class="bg-image">
            <h1>GenMed-Project</h1>
        </div>
    </header>

    <div class='container'>
            <nav class="navbar navbar-expand-md sticky-top bg-light" style="padding-bottom:0">
                    <!--Links-->
                    <div class="collapse navbar-collapse" id="base-nav">
                        <ul class="navbar-nav navbar-left">
                            <li class="nav-item"><a href="#" id="dashboard">Dashboard</a></li>
                            <li class="nav-item"><a href="#" id="license_info">License</a></li>
                            <li class="nav-item"><a href="#" id="curstocks">Stocks</a></li>
                        </ul>
                    </div>
                </nav>
            {% block body_2 %}
            {% endblock %}
    </div>
    ,
{% endblock %}