{% extends 'shop/shop_header.html' %}

{% load customtags %}
{% load static %}

{% block head_2 %}
    <link rel="stylesheet" type="text/css" href="{% static 'shop/upadtestock.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}



{% block body_2 %}
    <section id='stock-sec'>
        <h2>Update Stock:</h2>
        <hr>
        <form method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <th>Gen Name</th>
                    <th>Units</th>
                    <th>Price/Unit</th>
                    <th>Mfg. Date</th>
                    <th>Exp. Date</th>
                    <th>Batch</th>
                    <th></th>
                </tr>
                {% for key in med_ids %}
                    <tr>
                        {% for cell in cur_stock|get:key %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                        <form action={% url 'shop:update_med' %} method="get">
                            {% csrf_token %}
                        <input type="hidden" name="med_id" value="{{ key }}">
                        <td> <input type="submit" value="Edit" name="updatemed_btn"></td>
                        </form>
                    </tr>
                {% endfor %}
            </table>
            <input type="submit" value='Update' name='submit'/>
            <input type="submit" value='Add Field' name='submit'/>
        </form>
    </section>
{% endblock %}

