
header {
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .bg-image{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient( 135deg, #0c2646 0%, #204065 60%, #2a5788 100%);
}

header .bg-image h1{
    font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
}

header .bg-image h3{
    font-family: 'Fira Sans', sans-serif;
	margin-bottom: 30px;
}

/* Header-End */

/* Section-styling */
.features {
    color: #676a6c;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
}

#login-box {
    margin: auto;
    visibility: visible;
    animation-name: zoomIn;
    text-align: center;
    padding: 20px;
}

.login-input {
    border: 1px solid #676a6c;
    border-radius: 50px;
    width:100%;
    display: block;
    margin-bottom: 20px;
    padding: 5px 10px;
}

.login-button{
    border: 0;
    border-radius: 50px;
    width: auto;
    display: block;
    margin-bottom: 20px;
    padding: 5px 10px;
    color:white;
    background-image: linear-gradient( 135deg, #0c2646 0%, #204065 60%, #2a5788 100%);
}
/* End-Section */